*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader{
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 20px;
    height: 20px;
    position: relative;
}
.box:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: orange;
    animation: animate_boxes 1s linear infinite;
}
@keyframes animate_boxes{
    from{width: 100%; height: 100%;}
    to{width: 0%; height: 0%;}
}