*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
    background-color: #efefef;
}

#open_modal_btn{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#open_modal_btn button{
    background-color: rgb(2, 46, 2);
    color: rgb(170, 241, 174);
    padding: 15px 25px;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
    transition: 0.5s transform;
}

#open_modal_btn button:hover{
    transform: scale(1.1);
}

#profile_card{
    position: absolute;
    padding: 30px 30px;
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translate(-50% ,50%);
    box-shadow: 0px 4px 20px rgb(124, 126, 124);
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s transform;
}

#profile_picture{
    width: 150px;
    height: 200px;
    margin-top: 20px;
}

#profile_picture img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 4px 20px rgb(124, 126, 124);
}

#profile_info{
    text-align: center;
    margin: 10px 0;
}

#name{
    font-weight: bold;
    font-size: 20px;
}

#role{
    margin: 10px 0;
    font-weight: 600;
}

#contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: rgb(58, 61, 60);
    font-size: 14px;
}

#email, #phone{
    border: 1px solid rgb(38, 54, 38);
    background-color: rgb(207, 216, 224);
    padding: 8px 12px;
    border-radius: 5px;
}
#contact img {
  position: relative;
  top: 5px; /* Moves the icon 5 pixels down */
  margin-right: 8px;
}

#close_btn{
    background-color: rgb(2, 46, 2);
    color: rgb(170, 241, 174);
    padding: 15px 25px;
    border-radius: 20px;
    border: transparent;
    cursor: pointer;
    transition: 0.5s transform;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px rgb(124, 126, 124);

}

#close_btn:hover{
    transform: scale(1.1);
}
#profile_card.active{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 30%) ;
}

@media screen and (max-width: 500px){
    #profile_card{
        width: 80%;
        margin: auto;
    }
    #contact{
        flex-direction: column;
    }
    #profile_card.active{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 10%) ;
}
}
@media screen and (max-width: 960px){

    #contact{
        flex-direction: column;
    }
    #profile_card.active{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 20%) ;
}
}