*{
    margin: 0;
    padding: 0;
}

#cursor-cover{
    position: fixed;
    display: flex;
    flex-direction: column;
}

#cursor-outer{
    width: 25px;
    height: 25px;
    background-color: rgba(140, 183, 240, 0.459);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all .5s;

}
#cursor-inner{
    width: 15px;
    height: 15px;
    background-color: rgb(60, 118, 243);
    border-radius: 50%;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

#pointer{
    display: flex;
    gap: 5px;
}

#pointer1,#pointer2,#pointer3{
    width: 9px;
    height: 9px;
    background-color: rgb(113, 126, 247);
    position: absolute;
    border-radius: 50%;
}

#pointer1{
    transition: 0.7s;
}

#pointer2{
    width: 7px;
    height: 7px;
    transition: all 0.9s;
}

#pointer3{
    width: 5px;
    height: 5px;
    transition: all 1.1s;
}

